/*----------------------------------------------------------------------------
	colorscheme.css for colorscheme 4

	this css-file contains all definitions, that depend on the colorscheme.

	(c) Schlund + Partner AG
----------------------------------------------------------------------------*/

/*-- main container --------------------------------------------------------*/

#container {
    background: repeat-y;
    background-image: url(images/static/contentbg.gif);
}

/*--- header ---------------------------------------------------------------*/

#header {
    background: no-repeat;
    background-image: url(images/static/headerbg.gif);
}

/*--- key visiual ----------------------------------------------------------*/

#key_visual {
    background: no-repeat;
}

/*--- logo -----------------------------------------------------------------*/

#logo {
    background: no-repeat top right;
}

/*--- caption --------------------------------------------------------------*/

#slogan {
    background-color: #B5B5B5;
}

/*--- main navigation ------------------------------------------------------*/

#main_nav_container {
    /*background : url(images/static/menubg.gif) repeat-x;*/

}

/*--- main navigation items ------------------------------------------------*/

a.main_nav_item {
    background: no-repeat;
    background-position: top left;
}

a.main_nav_item:hover {
    background: no-repeat;
    background-position: top left;
}

a.main_nav_active_item {
    background: no-repeat;
    background-position: top left;
}

/*--- subnavigation items --------------------------------------------------*/

a.sub_nav_item {
    background: no-repeat;
}

a.sub_nav_item:hover {
    background: no-repeat;
}

a.sub_nav_active_item {
    background: no-repeat;
}

/*--- footer ---------------------------------------------------------------*/

#footer {
    background: transparent top left no-repeat;
    background-image: url(images/static/footerbg.gif);
    border-bottom: 1px solid #4caabc;
}

/*----------------------------------------------------------------------------
  default-styles for html-elements
----------------------------------------------------------------------------*/

/*--- body -----------------------------------------------------------------*/

body#main_body {
    background: repeat-x;
    background-image: url(images/static/pagebg.gif);
    background-color: #FFFFFF;
}

/*--- paragraph ------------------------------------------------------------*/

.content {
    color: #7D7D7D;
}

.content table {
    color: #7D7D7D;
    border-color: #A0CDD5;
}

.content select {
    color: #7D7D7D;
}

.content input {
    color: #6B6B6B;/*#7D7D7D;*/
    border-color: #B4B8BB;
}

.content textarea {
    color: #7D7D7D;
    border-color: #B4B8BB;
}

/*--- headings -------------------------------------------------------------*/

/*--- links ----------------------------------------------------------------*/

/*--- tables ---------------------------------------------------------------*/

.content th {
    color: #ffffff;
    background-color: #A0CDD5;
    border-color: #A0CDD5;
}

.content td {
    border-color: #A0CDD5;
}

.content tr.odd {
    color: #6E6E6E;
    background-color: #FFFFFF;
}

.content tr.even {
    color: #6E6E6E;
    background-color: #F1F3F3;
}

/*--- forms ----------------------------------------------------------------*/

.content fieldset {
    border-color: #567E8B;
}

.content legend {
    color: #74777A;
}

.content label {
    color: #74777A;
}

.content #submit {
    background-color: #ffffff;
    border-color: #B4B8BB;
    color: #74777A;
}

/*--------------------------------------------------------------------------*/

#sub_nav_column {
    background: transparent bottom right no-repeat;
    background-image: url(http://www.suederelbe-archiv.de/colorschemes/colorscheme4/images/static/list.gif);
    background: top left no-repeat;
    background-image: url(images/static/submenu_bg.jpg);
}

#weblog_calendar caption {
    color: #ffffff;
    background-color: #A0CDD5;
}

